<mat-toolbar color="grey">
  <button mat-button class="sidenav-toggle" (click)="toggleSidenav.emit()">
    <mat-icon>menu</mat-icon>
  </button>
  <button mat-button class="action" (click)="createNewContactModal(createContact)">Add Contact</button>

  <button mat-button class="action" (click)="deleteList()" color="warn">
    Delete
  </button>
</mat-toolbar>


<!-- CREATE CONTACT MODAL -->

<ng-template #createContact let-modal>
  <div
    [ngClass]="{ 'dark-theme-mode': isDarkTheme }"
    class="mat-app-background content"
  >
    <div class="modal-header">
      <h1 class="modal-title" id="modal-basic-title">Create New List</h1>
    </div>

    <div class="modal-body">
      <form
        id="ngForm"
        name="newListForm"
        #f="ngForm"
        (ngSubmit)="addContact()"
        novalidate
      >
        <mat-form-field class="full-width">
          <mat-label>Name</mat-label>
          <input
            matInput
            placeholder="John Doe"
            name="name"
            type="text"
            [(ngModel)]="form.name"
            required
            #name="ngModel"
          />
        </mat-form-field>
        <mat-form-field class="full-width">
          <mat-label>Email</mat-label>
          <input
            matInput
            placeholder="john@mail.com"
            name="email"
            type="text"
            [(ngModel)]="form.email"
            required
            #name="ngModel"
          />
        </mat-form-field>
        <mat-form-field class="full-width">
          <mat-label>Number</mat-label>
          <input
            matInput
            placeholder="12345"
            name="number"
            type="text"
            [(ngModel)]="form.number"
            required
            #name="ngModel"
          />
        </mat-form-field>
      </form>
    </div>

    <div class="modal-footer">
      <button
        form="ngForm"
        [disabled]="!f.form.valid"
        mat-raised-button
        color="primary"
        class="m-1"
      >
        Add
      </button>
      <button
        mat-raised-button
        color="warn"
        class="m-1"
        (click)="modal.close('Save click')"
      >
        Close
      </button>
    </div>
  </div>
</ng-template>
