$iconWidth: 56px;

.sidenav-toggle {
  display: none;

  padding: 0;
  margin: 8px;
  min-width: $iconWidth;

  @media (max-width: 720px) {
    display: flex;
  }

  mat-icon {
    font-size: 30px;
    height: $iconWidth;
    width: $iconWidth;
    line-height: $iconWidth;
  }
}

.action {
  width: 7rem;
}

.full-width {
  width: 100%;
  font-size: 150%;
}
