<div class="container">
  <h2>User Settings</h2>
  <form #form="ngForm" (ngSubmit)="onSubmit(form)">
    <div class="form-group">
      <label for="name">Name</label>
      <input
        name="name"
        id="name"
        class="form-control"
        [(ngModel)]="userSettings.name"
        #nameField="ngModel"
        #classTest
        required
      />
      <div
        [hidden]="nameField.valid || nameField.untouched"
        class="alert alert-danger"
      >
        Enter a name
      </div>
    </div>
    <h6>(*class="{{ classTest.className }}")</h6>
    <p>Dirty: {{ nameField.dirty }}</p>
    <p>Pristine: {{ nameField.pristine }}</p>
    <p>Touched: {{ nameField.touched }}</p>
    <p>Untouched: {{ nameField.untouched }}</p>
    <p>Valid: {{ nameField.valid }}</p>
    <p>Invalid: {{ nameField.invalid }}</p>
    <div class="form-group">
      <label for="name">Surname</label>
      <input
        name="surname"
        id="surname"
        class="form-control"
        [(ngModel)]="userSettings.name"
        #surnameField="ngModel"
        required
        (blur)="onBlur(surnameField)"
        [class.field-error]="form.submitted && surnameField.invalid"
      />
      <div
        [hidden]="!form.submitted || surnameField.valid"
        class="alert alert-danger"
      >
        Enter a surname
      </div>
    </div>
    <div class="form-check">
      <input
        type="checkbox"
        class="form-check-input"
        id="emailOffers"
        name="emailOffers"
        [(ngModel)]="userSettings.emailOffers"
      />
      <label for="emailOffers" class="form-check-label"
        >Email Special Offers</label
      >
    </div>

    <div class="form-group">
      <label for="birthday">Birthday</label>
      <input
        type="text"
        placeholder="Birthday"
        class="form-control"
        [(ngModel)]="birthday"
        name="birthday"
        id="birthday"
        bsDatepicker
        [bsConfig]="{ containerClass: 'theme-dark-blue' }"
      />
    </div>

    <button
      type="button"
      class="btn btn-primary mt-4"
      name="singleModel"
      [(ngModel)]="singleModel"
      btnCheckbox
    >
      {{ singleModel ? "On" : "Off" }}
    </button>

    <h5 class="mt-4">User Interface Style</h5>
    <div class="form-group">
      <div class="form-check">
        <input
          type="radio"
          class="form-check-input"
          id="lightInterface"
          name="interfaceStyle"
          value="light"
          checked
          [(ngModel)]="userSettings.interfaceStyle"
        />
        <label for="lightInterface" class="form-check-label">Light</label>
      </div>
      <div class="form-check">
        <input
          type="radio"
          class="form-check-input"
          id="mediumInterface"
          name="interfaceStyle"
          value="medium"
          [(ngModel)]="userSettings.interfaceStyle"
        />
        <label for="lightInterface" class="form-check-label">Medium</label>
      </div>
      <div class="form-check">
        <input
          type="radio"
          class="form-check-input"
          id="darkInterface"
          name="interfaceStyle"
          value="dark"
          [(ngModel)]="userSettings.interfaceStyle"
        />
        <label for="lightInterface" class="form-check-label">Dark</label>
      </div>
    </div>

    <div class="form-group">
      <div class="btn-group">
        <label
          class="btn btn-primary"
          [(ngModel)]="userSettings.interfaceStyle2"
          name="interfaceStyle2"
          btnRadio="light"
          tabindex="0"
          role="button"
          >Light</label
        >
        <label
          class="btn btn-primary"
          [(ngModel)]="userSettings.interfaceStyle2"
          name="interfaceStyle2"
          btnRadio="medium"
          tabindex="0"
          role="button"
          >Medium</label
        >
        <label
          class="btn btn-primary"
          [(ngModel)]="userSettings.interfaceStyle2"
          name="interfaceStyle2"
          btnRadio="dark"
          tabindex="0"
          role="button"
          >Dark</label
        >
      </div>
    </div>

    <div class="form-group mt-4">
      <label for="subscriptionType">Subscription Type</label>
      <select
        id="subscriptionType"
        class="form-control"
        name="subscriptionType"
        [(ngModel)]="userSettings.subscriptionType"
      >
        <option *ngFor="let type of subscriptionTypes | async">
          {{ type }}
        </option>
      </select>
    </div>

    <div class="form-group">
      <label for="notes">Notes</label>
      <textarea
        name="notes"
        id="notes"
        rows="3"
        class="form-control"
        [(ngModel)]="userSettings.notes"
      ></textarea>
    </div>

    <div class="form-group">
      <label for="notes">Password</label>
      <input
        type="password"
        name="password"
        id="password"
        class="form-control"
        [(ngModel)]="userSettings.password"
      />
    </div>

    <div class="form-group">
      <label for="notes">Date</label>
      <input
        type="date"
        name="date"
        id="date"
        class="form-control"
        [(ngModel)]="userSettings.date"
      />
    </div>

    <div [hidden]="!postError" class="alert alert-danger">
      {{ postErrorMessage }}
    </div>

    <button class="btn btn-primary mt-4">Send</button>
  </form>
</div>

<br />
<h4>Form Value</h4>
<h5>{{ form.value | json }}</h5>
<br />
<h4>Original</h4>
<h5>{{ originalUserSettings | json }}</h5>
<br />
<h4>Current</h4>
<h5>{{ userSettings | json }}</h5>
<br />
<h6>Form Object:</h6>
<p>{{ form | circularObjectToJson }}</p>
