# Angular
.angular

# compiled output
dist
dist-ssr
tmp
out-tsc
public
.firebaserc
# Only exists if Bazel was run
bazel-out

# dependencies
node_modules
functions/node_modules
functions/lib

# IDEs and editors
.firebase
.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
.sass-cache
connect.lock
coverage
libpeerconnection.log
npm-debug.log
testem.log
typings
yarn-error.log

# System Files
.DS_Store
Thumbs.db

# log Files
*.log