<div class="container">
  <input
    *ngIf="search"
    type="text"
    [(ngModel)]="filter"
    placeholder="Search..."
  />
  <div *ngIf="!search" style="height: 1.8rem"></div>
  <div *ngIf="filteredItems && filteredItems.length > 0" class="list">
    <ul>
      <li
        *ngFor="let item of filteredItems"
        (click)="toggleSelected(item)"
        (mouseenter)="handleMouseEnter(item)"
        (mouseleave)="handleMouseLeave(item)"
        [style.border]="item.border"
        [ngClass]="{ selected: isSelected(item), active: item.active }"
      >
        {{ item.title }}
      </li>
    </ul>
  </div>
</div>
