<mat-toolbar color="primary">
  <button
    mat-icon-button
    class="icon"
    aria-hidden="false"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <span>My Material Page</span>
  <span class="spacer"></span>
  <button
    mat-icon-button
    class="icon favorite-icon"
    aria-hidden="false"
    aria-label="Example icon-button with heart icon"
  >
    <mat-icon>favorite</mat-icon>
  </button>
  <button
    mat-icon-button
    class="icon"
    aria-hidden="false"
    aria-label="Example icon-button with share icon"
  >
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>
