.collapsible {
  border: 1px solid blueviolet;
  background-color: cadetblue;
  border-radius: 10px;
  margin: 1rem auto;
  width: 50%;
}

.pointable {
  cursor: pointer;
}

.collapsible-title {
}

.collapsible-content {
}
