form {
    display: flex;
    flex-direction: column;
  
    & .mat-form-field {
      padding: 1rem;
    }
  }
  
  pre {
    margin: 10px auto;
    width: 75%;
    border: 3px solid green;
    padding: 10px;
  }