.content {
  height: 100%;
}

.toolbar {
  height: 6vh;
}

.spacer {
  flex: 1 1 auto;
}

button {
  margin-right: 10px;
}

.directionToggle {
  position: absolute;
  z-index: 99999;
}

.directionIcon {
  bottom: 20px;
  right: 20px;
  position: fixed;
  font-size: 40px;
}
