<div
  [ngClass]="{ 'dark-theme-mode': isDarkTheme }"
  class="mat-app-background content"
>
  <mat-toolbar color="primary" class="toolbar">
    <span>MyContacts</span>
    <span class="spacer"></span>
    <button
      *ngIf="isLoggedIn"
      mat-raised-button
      color="primary"
      (click)="logout()"
    >
      Logout
    </button>
    <mat-slide-toggle
      class="darkmode"
      labelPosition="before"
      [(ngModel)]="isDarkTheme"
      (change)="storeThemeSelection()"
    >
      <mat-icon>bedtime</mat-icon>
    </mat-slide-toggle>
  </mat-toolbar>
  <router-outlet></router-outlet>
</div>
