<div class="form">
  <mat-card>
    <h1>Login</h1>
    <form name="loginForm" #f="ngForm" (ngSubmit)="onSubmit()" novalidate>
      <mat-form-field class="full-width">
        <mat-label>User Name</mat-label>
        <input
          matInput
          placeholder="John"
          name="username"
          type="text"
          [(ngModel)]="form.username"
          required
          [formControl]="username"
        />
        <mat-error *ngIf="username.invalid">{{
          getUsernameErrorMessage()
        }}</mat-error>
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Password</mat-label>
        <input
          type="password"
          name="password"
          [(ngModel)]="form.password"
          required
          [formControl]="password"
          matInput
          [type]="hide ? 'password' : 'text'"
        />
        <button
          mat-icon-button
          matSuffix
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
        <mat-error *ngIf="password.invalid">{{
          getPasswordErrorMessage()
        }}</mat-error>
      </mat-form-field>
      <button mat-raised-button color="primary" class="full-width">
        Login
      </button>
    </form>
  </mat-card>
</div>
