<mat-card class="logo" *ngIf="(contacts$ | async)?.length == 0">
  <mat-icon color="primary" inline="true">people_outline</mat-icon>
</mat-card>
<div [hidden]="(contacts$ | async)?.length == 0">
  <h1 id="listTitle">{{ title }}</h1>
  <!-- <mat-selection-list>
    <mat-list-option *ngFor="let contact of contacts$ | async">
      {{ contact.name }} | {{ contact.email }} | {{ contact.number }}
    </mat-list-option>
  </mat-selection-list> -->

  <mat-form-field class="search">
    <mat-label>Search...</mat-label>
    <input
      matInput
      (keyup)="applyFilter($event)"
      placeholder="Performing miracles..."
      #input
    />
  </mat-form-field>
  <table
    mat-table
    [dataSource]="contacts"
    matSort
    class="mat-elevation-z8 table"
  >
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
      <td mat-cell *matCellDef="let contact">{{ contact.name }}</td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>Email</th>
      <td mat-cell *matCellDef="let contact">{{ contact.email }}</td>
    </ng-container>

    <ng-container matColumnDef="number">
      <th mat-header-cell *matHeaderCellDef>Number</th>
      <td mat-cell *matCellDef="let contact">{{ contact.number }}</td>
    </ng-container>

    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef></th>
      <td
        mat-cell
        *matCellDef="let contact"
        (click)="openDeleteContactModal(deleteConfirm, contact.id)"
      >
        <mat-icon color="warn">delete_outline</mat-icon>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  <mat-paginator
    class="background"
    [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons
  ></mat-paginator>
</div>

<!-- DELETE CONFIRMATION MODAL -->

<ng-template #deleteConfirm let-modal>
  <div
    [ngClass]="{ 'dark-theme-mode': isDarkTheme }"
    class="mat-app-background content"
  >
    <div class="modal-header">
      <h1 class="modal-title" id="modal-basic-title">Delete Contact</h1>
    </div>

    <div class="modal-body">Are you sure?</div>

    <div class="modal-footer">
      <button
        mat-raised-button
        color="warn"
        class="m-1"
        (click)="deleteContact()"
      >
        Delete
      </button>
      <button
        mat-raised-button
        color="primary"
        class="m-1"
        (click)="modal.close('Save click')"
      >
        Cancel
      </button>
    </div>
  </div>
</ng-template>
