<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #sidenav
    class="sidenav mat-elevation-z10"
    [opened]="!isScreenSmall"
    [mode]="isScreenSmall ? 'over' : 'side'"
  >
    <mat-toolbar color="grey"> Contact Lists </mat-toolbar>
    <mat-list>
      <mat-list-item>
        <button mat-button>Pepper</button>
      </mat-list-item>
      <mat-list-item>
        <button mat-button>Salt</button>
      </mat-list-item>
      <mat-list-item>
        <button mat-button>Paprika</button>
      </mat-list-item>
    </mat-list>
  </mat-sidenav>
  <mat-sidenav-content class="sidenav-content">
    <app-toolbar (toggleSidenav)="sidenav.toggle()"></app-toolbar>
    <div class="content-wrapper">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
