<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #sidenav
    class="sidenav mat-elevation-z10"
    [opened]="!isScreenSmall"
    [mode]="isScreenSmall ? 'over' : 'side'"
  >
    <mat-toolbar color="grey"> Contact Lists </mat-toolbar>
    <mat-nav-list>
      <mat-list-item *ngFor="let contactList of contactLists | async">
        <button mat-button [routerLink]="['/contacts', contactList.id]">{{ contactList.name }}</button>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="sidenav-content">
    <app-toolbar (toggleSidenav)="sidenav.toggle()"></app-toolbar>
    <div class="content-wrapper">
      <router-outlet (activate)="receiveLoginEvent($event)"></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
