.sidenav-container {
  flex: 1;
  height: 100% !important;
  min-height: 100% !important;
  width: 100%;
  min-width: 100%;
}

.sidenav-content{
  height: 100%;
  align-items: center;
  justify-content: center;
}

.sidenav{
  width: 240px;
  text-align: center;
}

.content-wrapper {
  margin: 30px;
}

button {
  width: 8rem;
  margin-top: 1rem;
}

.full-width {
  width: 100%;
  font-size: 150%;
}
