.sidenav-container {
  flex: 1;
  height: 100% !important;
  min-height: 100% !important;
  width: 100%;
  min-width: 100%;
}

.sidenav-content{
  height: 100%;
  align-items: center;
  justify-content: center;
}

.sidenav{
  width: 240px;
}

button {
  width: 100%;
}

.content-wrapper {
  margin: 30px;
}
