<mat-grid-list cols="2" rowHeight="2:1">
  <mat-grid-tile class="tile">
    <p class="video-desc" color="'primary'">Local:</p>
    <video #local_video [autoplay]="true" [muted]="true"></video>
  </mat-grid-tile>
  <mat-grid-tile class="tile">
    <p class="video-desc">Remote:</p>
    <video #remote_video [autoplay]="true"></video>
  </mat-grid-tile>
</mat-grid-list>

<div class="button-row">
  <button *ngIf="!localVideoActive" mat-icon-button color="primary" (click)="startLocalVideo()"><mat-icon>wifi</mat-icon></button>
  <button *ngIf="localVideoActive" mat-icon-button color="primary" (click)="pauseLocalVideo()"><mat-icon>wifi_off</mat-icon></button>
  <button *ngIf="!inCall" mat-icon-button color="primary" (click)="call()"><mat-icon>phone</mat-icon></button>
  <button *ngIf="inCall" mat-icon-button color="primary" (click)="hangUp()"><mat-icon>cancel</mat-icon></button>
</div>
