video {
  width: 100%;
  background-color: peachpuff;
}

p.video-desc {
  position: absolute;
  top: 0px;
  left: 10px;
}

.local-vid {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.button-row {
  text-align: center;
}

button {
  margin: 5px;
}
