* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  text-align: center;
  background-color: #fafafa;
}

pre {
  text-align: left;
  background-color: #ccc;
}
