<div style="text-align: center" class="content">
  <h1>Welcome to {{ title }}!</h1>
  <hr />
  <div class="col-md-12 content">
    <form
      validate-about-or-image
      [formGroup]="profileForm"
      autocomplete="off"
      novalidate
      (ngSubmit)="saveProfile(profileForm.value)"
    >
      <div
        class="form-group"
        [ngClass]="{ error: firstName.invalid && firstName.dirty }"
      >
        <label for="firstName">First Name</label>
        <em
          *ngIf="
            firstName?.invalid &&
            ((firstName?.dirty && firstName?.errors?.required) || mouseOverSave)
          "
          >Required</em
        >
        <em
          *ngIf="
            firstName?.invalid && firstName?.dirty && firstName?.errors?.pattern
          "
          >Should start with a letter</em
        >
        <input
          formControlName="firstName"
          type="text"
          id="firstName"
          class="form-control"
          placeholder="First Name..."
        />
      </div>
      <div
        class="form-group"
        [ngClass]="{ error: lastName.invalid && lastName.dirty }"
      >
        <label for="lastName">Last Name</label>
        <em *ngIf="lastName?.invalid && (lastName?.dirty || mouseOverSave)"
          >Required</em
        >
        <input
          formControlName="lastName"
          type="text"
          id="lastName"
          class="form-control"
          placeholder="Last Name..."
        />
      </div>

      <div formGroupName="address">
        <div
          class="form-group"
          [ngClass]="{ error: street.invalid && street.dirty }"
        >
          <label for="street">Street</label>
          <em *ngIf="street?.invalid && (street?.dirty || mouseOverSave)"
            >Required</em
          >
          <input
            formControlName="street"
            type="text"
            id="street"
            class="form-control"
            placeholder="Street..."
          />
        </div>
        <div
          class="form-group"
          [ngClass]="{ error: number.invalid && number.dirty }"
        >
          <label for="number">Number</label>
          <em *ngIf="number?.invalid && (number?.dirty || mouseOverSave)"
            >Required</em
          >
          <input
            formControlName="number"
            type="text"
            id="number"
            class="form-control"
            placeholder="#..."
          />
        </div>
        <div
          class="form-group"
          [ngClass]="{ error: city.invalid && city.dirty }"
        >
          <label for="city">City</label>
          <em *ngIf="city?.invalid && (city?.dirty || mouseOverSave)"
            >Required</em
          >
          <input
            formControlName="city"
            type="text"
            id="city"
            class="form-control"
            placeholder="City..."
          />
        </div>
        <div
          class="form-group"
          [ngClass]="{ error: country.invalid && country.dirty }"
        >
          <label for="country">Country</label>
          <em *ngIf="country?.invalid && (country?.dirty || mouseOverSave)"
            >Required</em
          >
          <input
            formControlName="country"
            type="text"
            id="country"
            class="form-control"
            placeholder="Country..."
          />
        </div>
      </div>
      <div
        class="form-group"
        [ngClass]="{ error: about?.invalid && about?.dirty }"
      >
        <label for="about">About</label>
        <em
          *ngIf="
            about?.invalid &&
            ((about?.dirty && about?.errors?.maxlength) || mouseOverSave)
          "
          >Can't have more than 200 chars</em
        >
        <textarea
          formControlName="about"
          id="about"
          class="form-control"
          placeholder="About..."
        ></textarea>
      </div>
      <div class="form-group">
        <label for="image">Image</label>
        <input
          formControlName="img"
          type="text"
          id="img"
          class="form-control"
          placeholder="Image..."
        />
      </div>

      <span
        (mouseenter)="mouseOverSave = true"
        (mouseleave)="mouseOverSave = false"
      >
        <button
          [ngClass]="{ formInvalid: profileForm.invalid && mouseOverSave }"
          type="submit"
          class="btn btn-primary"
          [disabled]="profileForm.invalid"
        >
          Save
        </button>
      </span>
      <button type="button" class="btn btn-default" (click)="cancel()">
        Cancel
      </button>
    </form>
  </div>
  <img
    *ngIf="
      profileForm.controls.img.valid && profileForm.controls.img.value != ''
    "
    [src]="profileForm.controls.img.value"
    alt="img"
  />
</div>
