<volume-meter
  class="volume-meter"
  [volume]="volume0"
  [path]="path"
></volume-meter>
<volume-meter
  class="volume-meter"
  [volume]="volume1"
  [path]="path"
></volume-meter>
<volume-meter
  class="volume-meter"
  [volume]="volume2"
  [path]="path"
></volume-meter>
<volume-meter
  class="volume-meter"
  [volume]="volume3"
  [path]="path"
></volume-meter>
<volume-meter
  style="float: none !important"
  class="volume-meter"
  [volume]="volume4"
  [path]="path"
></volume-meter>
<volume-meter
  style="float: none !important"
  class="volume-meter"
  [volume]="volume5"
  [path]="path"
></volume-meter>
<volume-meter
  style="float: none !important"
  class="volume-meter"
  [volume]="volume6"
  [path]="path"
></volume-meter>
<volume-meter
  style="float: none !important"
  class="volume-meter"
  [volume]="volume7"
  [path]="path"
></volume-meter>
