<volume-meter [volume]="volume" [path]="path" [size]="size0"></volume-meter>
<br />
<volume-meter [volume]="volume" [path]="path" [size]="size1"></volume-meter>
<br />
<volume-meter [volume]="volume" [path]="path" [size]="size2"></volume-meter>
<br />
<volume-meter [volume]="volume" [path]="path" [size]="size3"></volume-meter>
<br />
<volume-meter [volume]="volume" [path]="path" [size]="size4"></volume-meter>
<br />
<volume-meter [volume]="volume" [path]="path" [size]="size5"></volume-meter>
<br />
<volume-meter [volume]="volume" [path]="path" [size]="size6"></volume-meter>
