<div style="text-align: center" class="content">
  <h1>Welcome to {{ title }}!</h1>

  <div class="row" *ngFor="let topic of topics">
    <div class="col-md-4">
      <app-collapsible>
        <div title>
          {{ topic.title }}
          <i *ngIf="topic.hyped" class="glyphicon glyphicon-fire"></i>
        </div>
        <div body>
          <h6>{{ topic.author }}</h6>
          <p>
            {{ topic.content }}
          </p>
        </div>
      </app-collapsible>
    </div>
  </div>
</div>
